* {
  box-sizing: border-box;
}

::selection {
  background-color: #f6ed4a;
  color: #07192a;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input, select, textarea {
  font-family: inherit;
}