@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=DM+Sans:wght@400;500&display=swap');

@import "tailwindcss";

/* Root layout */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  background-color: #0a0a0a;

  font-family: 'DM Sans', sans-serif;

  overflow-x: hidden;
}

/* Reset */
* {
  box-sizing: border-box;
}

/* Fix SVG overflow issues */
svg {
  display: block;
  max-width: 100%;
  flex-shrink: 0;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Smooth rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}